<%= stylesheet_link_tag 'global/search_bar_style' %>

<div class="page-container">


  <div id="user-search-container" style="border-radius: 5px;">
    <div id="landing-summary" style="margin-top: 100px; margin-bottom: 0px;">
      <%= image_tag("branding/rr_logo.png", :id=>'landing_logo') %>
      <h1>Search Rig Reviews</h1>
    </div>
    <div id="landing-search-container">
      <div>
        <input id="site-search-bar" style="text-transform:uppercase" maxlength="8" placeholder="enter truck id/license plate"/>
        <button id="search-truck-button" class="rr-submit-button">Search</button>
        <!--<span>For more information hover here</span>-->
      </div>
    </div>
   </div>

</div>

<div id="reviews-container" class="dataTable-container">
      <% if @reviews.size == 0 %>

      <% else %>
          Your Recent 5 Reviews
          <table id="review_table" class="responsive">
            <thead>
                <th>License Plate</th>
                <th>RR Code</th>
                <th>Company</th>
                <th>Rating</th>
                <th></th>
            </thead>
            <tbody>
        <% @reviews.all.order(:created_at).last(5).each do |review| %>
            <% truck = Truck.where('truck_id=?', review.truck_id).first %>
                <% company = Company.where('company_id=?', review.company_id).first %>
            <tr>
              <td><%= truck.truck_license_plate %></td>
                <td><%= truck.truck_code %></td>
              <td><%= company.company_name %></td>
              <td><%= review.review_score %></td>
              <td><a href="#" onclick="viewReviewPopup('<%= review.review_id %>');">view</a></td>
            </tr>
        <% end %>
        </tbody>
          </table>
          <a href="/reviews">View all (<%= @reviews.size %>)</a>
      <% end %>
    </div>


<div id="view_review_popup">
    <div id="review_popup_info">
	<div id="review_truck_info">
		<div id="truck_and_stars">
		    <div id = "image"> <img src="/assets/truck_default_image.png" id='truck_image'></div>
		    <div id="star">
			<div id="star_review"></div>(<span id="star_review_value"></span>)
		    </div>
		</div>
		<div id = "info">
		    <div>Date: <span id="popup_review_date"></span></div>
		    <div>Type: <span id="popup_review_type"></span></div>
		</div>
	</div>

        <div id="comment_review_box">
	    <label>Comments:</label>
            <textarea id="popup_review_text" placeholder="No comment given" disabled></textarea>
        </div>
    </div>
</div>

<%= javascript_include_tag 'global/search_bar_functionality' %>
