<div id="reviews-summary-container">
    CONTENT HERE FOR REVIEWS SUMMARY
</div>

<div id="reviews-table-container" class="dataTable-container">
    <table id="reviews-table">
      <thead>
          <th>License Plate</th>
          <th>RR Code</th>
          <th>Company</th>
          <th>Rating</th>
          <th></th>
      </thead>
      <tbody>
          <% @reviews.all.each do |review| %>
              <% truck = Truck.where('truck_id=?', review.truck_id).first %>
              <% company = Company.where('company_id=?', review.company_id).first %>
              <tr>
                <td><%= truck.truck_license_plate %></td>
                <td><%= truck.truck_code %></td>
                <td><%= company.company_name %></td>
                <td><%= review.review_score %></td>
                <td><a href="#" onclick="viewReviewPopup('<%= review.review_id %>');">view</a></td>
              </tr>
          <% end %>
      </tbody>
    </table>
</div>

<div id="view_review_popup" style="display: none;">

</div>