<h3 class="page-section-title">Overview</h3>

<div id="review-summary-container">

  <div id="add-truck-content-container">
    <div class="content_title"><h3>Add Truck</h3></div>
    <div class="input_container_truck"><input id="driver-email" class="new-truck-input" placeholder="driver email"/></div>
    <div class="input_container_truck"><input id="license-plate" class="new-truck-input" maxlength="8" placeholder="truck license"/></div>
    <button id="create-truck-button" class="rr-submit-button">Create</button>
  </div>

  <div class="summary-content-container">
    <div class="stat_title"><h3>Total Trucks</h3></div>
    <div id="global_truck_count" class="stat_body"><%= @company.trucks.all.size %></div>
  </div>

</div>

<div id="review-list-container" class="dataTable-container">
  <table id="truck-list" class="responsive">
    <thead>
    <td>license</td>
    <td>RR Code</td>
    <td>contact</td>
    <td>reviews</td>
    <td>rating</td>
    <td></td>
    </thead>
    <tbody id="truck-list-body">
    <% @company.trucks.order('created_at ASC').each do |review| %>
        <tr>
          <%
             truck = Truck.where('truck_id=?', review.truck_id).first
             user = User.where('user_id=?', review.user_id).first
          %>
          <td><%= truck.truck_license_plate %></td>
          <td><%= truck.truck_code %></td>
          <td><%= user.email.email_address %></td>
          <td><%= truck.reviews.all.size %></td>
          <%
             rating = 0;
             if truck.reviews.all.size > 0
                 truck.reviews.each do |r|
                    rating += r.review_score
                 end
                 rating = (rating/truck.reviews.all.size).round(2)
             end
          %>
          <td><%= rating %></td>
          <td><a onclick="viewTruckPopup('<%= truck.truck_id %>')">view stats</a></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>

<div id="view_truck_popup" style="display: none;">

</div>

<script>

    $(function() {
        $('.statistics-tab').on("click", function() {
            if($(this).attr('id') == 'tab1') {
                $("#content2").hide();
                $("#content1").show();
            }
            else if($(this).attr('id') == 'tab2') {
                $("#content1").hide();
                $("#content2").show();
            }
        });

        $("#truck-list").DataTable({paging: true});
    });

</script>