<!DOCTYPE html>
<html>
<head>
  <title>Rig Reviews</title>
  <%= stylesheet_link_tag 'layouts/application.css' %>
  <%= stylesheet_link_tag controller_name + '/' + controller.action_name %>
  <%= stylesheet_link_tag 'plugins/jquery.rateyo' %>
  <%= stylesheet_link_tag 'plugins/jquery.dataTables' %>

  <% home_url = controller.get_user_home_url %>
  <%= stylesheet_link_tag 'layouts/commuter_top_nav' if home_url == 'comdash'%>
  <%= stylesheet_link_tag 'layouts/company_top_nav' if home_url == 'compdash'%>
  <%= stylesheet_link_tag 'layouts/trucker_top_nav' if home_url == 'truckerdash'%>
  <%= stylesheet_link_tag 'layouts/landing_top_nav' if home_url == 'no_user' && controller.controller_name != 'admin'%>
  <%= stylesheet_link_tag 'layouts/admin_top_nav' if controller.controller_name == 'admin' && controller.action_name != 'login' %>

  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

  <%= javascript_include_tag 'application.js' %>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
</head>
<body>
    <div id="page-container">

      <%= render :template => 'layouts/commuter_top_nav' if home_url == 'comdash' %>
      <%= render :template => 'layouts/company_top_nav' if home_url == 'compdash' %>
      <%= render :template => 'layouts/trucker_top_nav' if home_url == 'truckerdash' %>
      <%= render :template => 'layouts/landing_top_nav' if home_url == 'no_user' && controller.controller_name != 'admin' %>
      <%= render :template => 'layouts/admin_top_nav' if controller.controller_name == 'admin' && controller.action_name != 'login' %>

    <%= yield %>

    </div>
</body>
<footer>
  <%= javascript_include_tag 'plugins/jquery.bpopup.min' %>
  <%= javascript_include_tag 'plugins/jquery.rateyo.min' %>
  <%= javascript_include_tag 'plugins/jquery.dataTables.min' %>
  <%= javascript_include_tag 'plugins/notify.min' %>
  <%= javascript_include_tag controller_name + '/' + controller.action_name %>
</footer>
</html>
